{% autoescape None %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>{{ title }} - {{ article["title"] }}</title>
		<link rel="stylesheet" href="{{ static_url("style2.css") }}" type="text/css" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
		<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
	</head>
	<body>
		<div id="content">

		
		
		<div id="main_article">
			<div id="primary_article">
                <header id="header_article">
                    <div class="nav_article">
                        <a class="nava active" href="/">首页</a>
                        <a class="nava" href="#" onclick="javascript:alert('Under Construction!');">照片墙</a>
                        <a class="nava" href="/link">友情链接</a>
                    </div>
                </header>

				<article>
					<div class="entry-header-article">
						<h1 class="entry-title dashbottom"><a href="/article/{{ article["name"] }}">{{ article["title"] }}</a></h1>
						
						<div class="entry-meta">
							<span class="sep"><time class="entry-date">{{ article["date"] }}</time></span>
						</div>
					</div>
					
					<div class="entry-content">
						{{ (article["content"]) }}
						
						
<script type="text/javascript"><!--
google_ad_client = "ca-pub-6099245734778083";
/* MartianZ-BLOG */
google_ad_slot = "6935417688";
google_ad_width = 970;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
					</div>
					
					
					<div class="comments">
                <div id="disqus_thread"></div>
                
                <script type="text/javascript">
                                var disqus_shortname = 'martian-octopress-blog'; 
                                    (function() {
                                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                </div>
				</article>
				
				
				
        		
        		
			</div>
		</div>
		
		<footer>
			<div class="div-footer">
							Powered by <a href="https://github.com/MartianZ/MartianZ-BLOG">MartianZ-BLOG</a>
			</div>
		</footer>
		</div>
		

<div style="display:none;">
<script src="http://s85.cnzz.com/stat.php?id=5088163&web_id=5088163" language="JavaScript"></script>
</div>
	</body>
</html>
